*{
    margin:0;
    padding:0;
    text-decoration: none;

}




.mainBody{
    background: rgb(0, 29, 25);
    /* background: linear-gradient(90deg, rgb(49, 49, 49) 0%, rgb(222, 224, 224) 30%, rgb(116, 115, 115) 100%); */
    background-image: url("./Background.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
}
.body{
  background-color: hsla(197, 19%, 33%, 0.877);
  height: 100%;
  min-height: 80vh;
  min-width: 40%;
  max-width: 70%;
  border-radius: 0 0 15px 15px;
  display: inline-block;
  font-weight: lighter; 
  font-size: 120%;
  /* text-shadow: 0px 1px 0px lightgrey; */
}

.coWyswietlic{
    text-align: center;
    padding: 0;
}



.akapit{
	margin: 2rem 5rem;
    font-size: 2rem;
}
.body p{
	padding: 15px 50px;
	font-size: medium;
    color: rgb(255, 255, 255);
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
}

.LISTAA{
    list-style-position: inside;
    list-style-type: disc;
    padding-left: 4vw;
    text-align: left;
    padding-right: 4%;
    padding-top: 4vh;
    padding-bottom: 4vh;
}
.LISTAADIV {
    width: 80%;
    margin: 2em auto;
    background-color: #dddada;
    border-radius: 0.8em;
    box-shadow: 2px 3px 7px 2px rgba(0,0,0,0.02);
}

.projekt p{
    color: black;
    text-shadow: none;
    font-size: 1.5rem;
}

.header{
    width:80%;
    display: flex;
    margin: auto;
    margin-top: 1vh;
    border-radius: 15px;
	min-height:70px;
	max-height: 200px;
    background-image: linear-gradient(black,rgb(124, 124, 124));
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
}
.innerHeader{
    width:70%;
    height: 100%;
    display: flex;
    float: right;
    align-items: center;
	margin: 0 auto;
}
.logoContainer{
    height: 100%;
    display: table;
    float: left;
    flex: 1;
}
.logoContainer a:hover{
    color: darkorange;
}
.logoContainer h1,.logoContainer a{
    color: rgb(0, 140, 255);
    height: 100%;
    display: table-cell;
    text-align:center;
    vertical-align: middle;
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 200;
}
.logoContainer span{
    font-weight: 800;
}
.logoContainer img{
	widows: 25px;
	height:	25px;
	padding-top:8;
}
.navigation{
    float: right;
    height: 100%;
    color: white;
}
.navigation span{
    height:100%;
    display: table;
    float: left;
    padding: 9% 20px;
    color: rgb(0, 140, 255);
}
.navigation span:hover{
	cursor: pointer;
    color: darkorange;
    font-weight: 800;
    
}
.navigation a li{
	display: table-cell;
    vertical-align: middle;
    height: 100%;
}
.projekt {
    width: 80%;
    margin: 5em auto;
    padding: 2em;
    background-color: #fdfdff;
    border-radius: 0.8em;
    box-shadow: 2px 3px 7px 2px rgba(0,0,0,0.02);
}


/* ponizej daje efekty shade-owania */
.image{
    position: relative;
    display: inline-block;
    width: 100%;
}
.image img{
    width: 100%;
    height: 20vh;
}
.image::after {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
	display: block;
	
    background-image: linear-gradient(to right,  hsla(180, 4%, 11%, 0.863) 5%, transparent 30%);
  }

.image::before {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    display: block;
    background-image: linear-gradient(to left,  hsla(200, 1%, 56%, 0.774) 5%, transparent 30%);
  }
/* nowe zmiany */
.stopka{
	padding-top: 40px;
    margin-top: 2vw;
	  bottom:0;
	  height: 2vh;
  }

.stopka p {

    background-color: hsla(197, 19%, 33%, 0.877);
    max-width: 10vw;
    align-self: center;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-radius: 5rem;
}


.stopka a{
	color: rgb(255, 153, 0);
	font-weight: 800;
	font-size: medium;
  }
.stopka a:hover{
    color: blue;
}

.kontaktInfo span{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.kontaktInfo{
	padding-top: 10vh;
}
.kontaktInfo img{
	width: 30px;
	height: 30px;
}
.kontaktInfoCredentials{
	padding-top: 2vh;
}

.kontakt {
	height: 50vh;
	font-size: medium;
}

.bold{
	font-size: 1.5rem;
	font-weight: 700;
}
.projekty{
	padding-top: 5vh;
}
.projekty  img{
    max-height: 250px;
    max-width: 100%;
}
.zdjecieDnia{
    max-width: 100%;
}
#git{
    max-height: 60px;
    max-width: 60px;
}


@media only screen and (max-width: 1100px) {
    .body{
      font-size: 85%;
      min-width: 100%;
    }
    .header{
        width: 100%;
        border-radius: 15px 15px 0 0;
        margin-top: 0;
    }
    .LISTAADIV{
        width: 100%;
        margin: 5vh 0vw;
    }
    .LISTAA{
        width: 100%;
    }
    p{
        text-align: center;
    }
}

@media only screen and (max-width: 570px){
    .innerHeader{
        width: 90%;
        font-size: 70%;
    }
}